.header {
    grid-area: header;
    background-color: red;
    position: relative;



}

.header:hover:before  {
    position: absolute;
    width: 100%;
    content: 'HI';
    display: block;

    background-color: darkgreen;
    animation: appear 1s forwards;

}
@keyframes appear {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
       opacity: 1;
        height: 30%;
    }

}


.nyr {
    height: 100%;
    position: static;


}