.picture {
    width: 100%;
    border-radius: 10px;
    border: 2px solid black;


}

.friends {

    padding: 100px;
    border: antiquewhite 5px solid;
}

button {
    width: 100px;
    height: 50px;
}