.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: burlywood;
    height: auto;
    width: fit-content;
    padding: 10px;

}

.dialogItems {
    padding: 10px;

}
.dialogItems .active {
    color:red;
}

.dialog {


}

.messages {
    padding: 10px;
    margin-left: 0px;

}

messages .message {
    margin-left: 0px;

}