.nav {
    grid-area: nav;
    background-color: violet;
    font-size: 3rem;
    border-radius: 10px;
    border: 2px solid black;

}

.wrap {
    height: fit-content;
}

li {
    margin-left: 10px;

}

li a {
    color: darkblue;
}

li a:hover, li a.activeLink {
    color: aqua;
    background: white;
    border-radius: 10px;
    text-decoration-line: none;


}


